<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Titik Koma"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.PilihSilbusActivity"></activity>
        <activity android:name=".activity.TentangActivity" />
        <activity android:name=".activity.DetailKuisKeterampilanActivity" />
        <activity android:name=".activity.ListScoreActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.SkorActivity" />
        <activity android:name=".activity.KuisKeterampilanActivity" />
        <activity android:name=".activity.KuisPengetahuanActivity" />
        <activity
            android:name=".activity.DetailVideoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.ListVideoActivity" />
        <activity android:name=".activity.DetailMateriActivity" />
        <activity android:name=".activity.ListMateriActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TujuanActivity" />
        <activity android:name=".activity.SilabusActivity" />
    </application>

</manifest>